<div class="col-xs-8 col-xs-offset-2">
  <input type="text" class="form-control" [(ngModel)]="carName">
  <hr>
  <button class="btn btn-primary" type="submit" (click)="loadCars()">Загрузити</button>
  <button class="btn btn-success" (click)="addCar()">Добавити авто</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge badge-secondary" [ngStyle]="{background: car.color}" style="color: rgb(146, 74, 74)">
        {{ car.id }}
      </span>
      {{ car.name }} {{ car.color }}
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Зиінити колір</button>
      <button class="btn btn-xs btn-danger" (click)="delete(car)">Видалити</button>
    </li>
  </ul>
</div>
